<ion-view view-title="AboutMe">
    <ion-content class="padding">
        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan erat dolor, ac rhoncus augue feugiat id. Etiam hendrerit
            ipsum vitae diam accumsan auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae; Nullam gravida ligula ut odio maximus, sed feugiat diam luctus. Nunc et ipsum id neque tempus ullamcorper.
            Vestibulum sodales risus tortor, ac rhoncus risus volutpat ac. Maecenas eget finibus justo. Phasellus a nulla
            bibendum, porta urna sit amet, auctor felis. Duis gravida pulvinar neque, vel volutpat nisl cursus quis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </ion-content>
</ion-view>